<div class="page-margin">

    <div class="logo-container">
      <img width="300" src="../assets/img/guardian-logo.png">
    </div>
      
    <div class="flex-center" style="margin-top:10px">
      <div class="search-pagination-container">
        <div class="search-container">
          <p class="filter-articles">Filter Articles:</p>
          <input type="text" class="form-control" [(ngModel)]="searchString" (keypress)="searchKeyPressed($event)" style="margin-right:8px">
          <button class="btn btn-success" (click)="filterArticles()">Search</button>
        </div>
        <div class="pagination-container">
          <p *ngIf="multiplePagesPagination()" class="pagination-text">{{ pageLowNum + 1 }} - {{ pageHighNum }} ({{ numArticles }} records)</p>
          <p *ngIf="!multiplePagesPagination() && (numArticles > 0)" class="pagination-text">Displaying {{ numArticles }} record<span *ngIf="numArticles > 1">s</span></p>
          <ngb-pagination *ngIf="response" [collectionSize]="numArticles" [maxSize]="5" [(page)]="page" [directionLinks]="false" aria-label="Default pagination" (pageChange)="onPageChanged($event)"></ngb-pagination>
        </div>
      </div>
    </div>

    <h2 *ngIf="!previousSearch" style="text-align:center">All Articles</h2>
    <h2 *ngIf="previousSearch" style="text-align:center">"{{ previousSearch }}"</h2>

    <div *ngIf="isLoading" id="loader"></div>
        
    <div *ngIf="!isLoading" class="flex-center">
      <div *ngIf="response" class="articles">
          <div *ngFor="let article of response.response.results">
            <div class="view-btn-container">
                <button class="btn btn-primary view-article-btn" (click)="viewArticle(article.webUrl)">View</button>
                <label>{{ article.webTitle }}</label>
            </div>
          </div>
        </div>
    </div>
      
</div>





